table.normTab, table.normTab tr, table.normTab th, table.normTab td {
    border: 1px solid black;
    border-collapse: collapse;
}
table.normTab th, table.normTab td {
    padding: 2px 7px; 
    text-align: center;
    font-size: 17px
}
table.normTab th {
    background-color: #4ddbff;
}
table.normTab tr:hover {
    background-color: #cccccc;
}

.hidden {
    display: none;
}

.form_error, ul.form_errors li {
    font-weight: bold;
    color: red;
}

#status_message p {
    font-weight: bold;
    color: blue;
}

tr.marked_edit {
    background-color: #00cc44;    
}
tr.marked_delete {
    background-color: #f26333;    
}

ul.flash {
    list-style-type: none;
    padding: 0;
}
ul.flash li {
    font-weight: bold;        
}
ul.flash.notice li {
    color: blue;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.paginator {
    margin: 15px 2px;
}
div.paginator a, div.paginator span {
    padding: 5px;
    font-size: 28px;
}
div.paginator span.current_page {
    background-color: greenyellow;
}
.grey {
    color: grey;
}
